/*General*/
body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

div span{
    text-align: center;
}

/*Contenedor*/
.contenedor{
    width: 1100px;
    margin: 0 auto;
}

/*Helper*/
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/*Header*/
.header{
    height: 100px;
    background-color: 	#ff6f69 ;
    margin-bottom: 100px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 25px;
}

p{
    display: inline-block;
}

/*Descripciones*/
.descripcion1{
    background-color: #82E0AA;
    margin-bottom: 30px;
}

.descripcion2{
    background-color: #ffcc5c;
    margin-bottom: 30px;
}

/*Imágenes*/
.imagen1{
    margin-top: 60px;
    float: right;
}

.imagen2{
    margin-top: 50px;
    float: left;
}

/*Botones*/

a{
    text-decoration: none;
    color: black;
}
.siguiente{
    font-size: 36px;
}

.anterior{
    font-size: 36px;
}

.boton{
    float: right;
    margin-right: 10px;
}

/*Últimas dos descripciones*/
.texto1{
    float: left;
    height: 400px;
    width: 400px;
    margin-left: 50px;
    margin-top: 100px;
}

.texto2{
    float: right;
    height: 400px;
    width: 400px;
    margin-right: 50px;
    margin-top: 100px;
}

/*Footer*/
.footer{
    height: 160px;
    background-color: 	#ff6f69;
    text-align: center;

}

.nombres{
    padding-top: 25px;
}

